certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
elementpath==4.1.5
idna==3.6
lxml==4.9.3
lxml-stubs==0.4.0
requests==2.31.0
types-colorama==0.4.15.12
types-requests==2.31.0.10
urllib3==2.1.0
xmlschema==2.5.0
